*.class
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/struts2-jquery-grid-showcase/derby.log

# maven generated target folder
/target/

# IDE specific files
# Eclipse
/.classpath
/.project
/.settings/
# IntelliJ
/.idea/

