# generated minified javascript files
/src/main/resources/template/js/struts2/jquery.chart.struts2.min.js

# maven generated target folder
/target/

# IDE specific files
# Eclipse
/.classpath
/.project
/.settings/
# IntelliJ
/.idea/

