src/main/resources/template/js/struts2/jquery.struts2.min.js
src/main/resources/template/js/struts2/jquery.ui.struts2.min.js

src/main/resources/template/js/base/accordion.min.js
src/main/resources/template/js/base/autocomplete.min.js
src/main/resources/template/js/base/button.min.js
src/main/resources/template/js/base/core.min.js
src/main/resources/template/js/base/datepicker.min.js
src/main/resources/template/js/base/dialog.min.js
src/main/resources/template/js/base/draggable.min.js
src/main/resources/template/js/base/droppable.min.js
src/main/resources/template/js/base/effect.min.js
src/main/resources/template/js/base/effect-blind.min.js
src/main/resources/template/js/base/effect-bounce.min.js
src/main/resources/template/js/base/effect-clip.min.js
src/main/resources/template/js/base/effect-drop.min.js
src/main/resources/template/js/base/effect-explode.min.js
src/main/resources/template/js/base/effect-fade.min.js
src/main/resources/template/js/base/effect-fold.min.js
src/main/resources/template/js/base/effect-highlight.min.js
src/main/resources/template/js/base/effect-puff.min.js
src/main/resources/template/js/base/effect-pulsate.min.js
src/main/resources/template/js/base/effect-scale.min.js
src/main/resources/template/js/base/effect-shake.min.js
src/main/resources/template/js/base/effect-size.min.js
src/main/resources/template/js/base/effect-slide.min.js
src/main/resources/template/js/base/effect-transfer.min.js
src/main/resources/template/js/base/menu.min.js
src/main/resources/template/js/base/mouse.min.js
src/main/resources/template/js/base/position.min.js
src/main/resources/template/js/base/progressbar.min.js
src/main/resources/template/js/base/resizable.min.js
src/main/resources/template/js/base/selectable.min.js
src/main/resources/template/js/base/selectmenu.min.js
src/main/resources/template/js/base/slider.min.js
src/main/resources/template/js/base/sortable.min.js
src/main/resources/template/js/base/spinner.min.js
src/main/resources/template/js/base/tabs.min.js
src/main/resources/template/js/base/tooltip.min.js
src/main/resources/template/js/base/widget.min.js

