# generated minified javascript files
/src/main/resources/template/js/base/accordion.min.js
/src/main/resources/template/js/base/autocomplete.min.js
/src/main/resources/template/js/base/button.min.js
/src/main/resources/template/js/base/checkboxradio.min.js
/src/main/resources/template/js/base/controlgroup.min.js
/src/main/resources/template/js/base/core.min.js
/src/main/resources/template/js/base/data.min.js
/src/main/resources/template/js/base/datepicker.min.js
/src/main/resources/template/js/base/dialog.min.js
/src/main/resources/template/js/base/disable-selection.min.js
/src/main/resources/template/js/base/draggable.min.js
/src/main/resources/template/js/base/droppable.min.js
/src/main/resources/template/js/base/effect.min.js
/src/main/resources/template/js/base/effect-blind.min.js
/src/main/resources/template/js/base/effect-bounce.min.js
/src/main/resources/template/js/base/effect-clip.min.js
/src/main/resources/template/js/base/effect-drop.min.js
/src/main/resources/template/js/base/effect-explode.min.js
/src/main/resources/template/js/base/effect-fade.min.js
/src/main/resources/template/js/base/effect-fold.min.js
/src/main/resources/template/js/base/effect-highlight.min.js
/src/main/resources/template/js/base/effect-puff.min.js
/src/main/resources/template/js/base/effect-pulsate.min.js
/src/main/resources/template/js/base/effect-scale.min.js
/src/main/resources/template/js/base/effect-shake.min.js
/src/main/resources/template/js/base/effect-size.min.js
/src/main/resources/template/js/base/effect-slide.min.js
/src/main/resources/template/js/base/effect-transfer.min.js
/src/main/resources/template/js/base/escape-selector.min.js
/src/main/resources/template/js/base/focusable.min.js
/src/main/resources/template/js/base/form.min.js
/src/main/resources/template/js/base/form-reset-mixin.min.js
/src/main/resources/template/js/base/ie.min.js
/src/main/resources/template/js/base/keycode.min.js
/src/main/resources/template/js/base/labels.min.js
/src/main/resources/template/js/base/menu.min.js
/src/main/resources/template/js/base/mouse.min.js
/src/main/resources/template/js/base/plugin.min.js
/src/main/resources/template/js/base/position.min.js
/src/main/resources/template/js/base/progressbar.min.js
/src/main/resources/template/js/base/resizable.min.js
/src/main/resources/template/js/base/safe-active-element.min.js
/src/main/resources/template/js/base/safe-blur.min.js
/src/main/resources/template/js/base/scroll-parent.min.js
/src/main/resources/template/js/base/selectable.min.js
/src/main/resources/template/js/base/selectmenu.min.js
/src/main/resources/template/js/base/slider.min.js
/src/main/resources/template/js/base/sortable.min.js
/src/main/resources/template/js/base/spinner.min.js
/src/main/resources/template/js/base/tabbable.min.js
/src/main/resources/template/js/base/tabs.min.js
/src/main/resources/template/js/base/tooltip.min.js
/src/main/resources/template/js/base/unique-id.min.js
/src/main/resources/template/js/base/version.min.js
/src/main/resources/template/js/base/widget.min.js

/src/main/resources/template/js/plugins/jquery.ba-bbq.min.js
/src/main/resources/template/js/plugins/jquery.combobox.min.js
/src/main/resources/template/js/plugins/jquery.form.min.js
/src/main/resources/template/js/plugins/jquery.mousewheel.min.js
/src/main/resources/template/js/plugins/jquery.subscribe.min.js
/src/main/resources/template/js/plugins/jquery-ui-timepicker-addon.min.js

/src/main/resources/template/js/struts2/jquery.struts2.min.js
/src/main/resources/template/js/struts2/jquery.ui.struts2.min.js

/src/main/resources/template/i18n/jquery-ui-timepicker-*.min.js

# maven generated target folder
/target/

# IDE specific files
# Eclipse
/.classpath
/.project
/.settings/
# IntelliJ
/.idea/

