<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx
           https://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="jdbcUrl" value="jdbc:derby:classpath:BirtSample"/>

        <!-- Uncomment this jdbcURL for write access to the demo database  -->
        <!-- property name="jdbcUrl" value="jdbc:derby:directory:C:/BirtSample/BirtSample"/ -->

        <property name="user" value="root"/>
        <property name="password" value="sa"/>
        <property name="initialPoolSize">
            <value>1</value>
        </property>
        <property name="minPoolSize">
            <value>1</value>
        </property>
        <property name="maxPoolSize">
            <value>15</value>
        </property>
        <!-- <property name="timeout"><value>0</value></property> --> <!-- 0 means: no timeout -->
        <property name="idleConnectionTestPeriod">
            <value>200</value>
        </property>
        <property name="acquireIncrement">
            <value>1</value>
        </property>
        <property name="maxStatements">
            <value>0</value>
        </property>
        <!-- 0 means: statement caching is turned off. -->
        <property name="numHelperThreads">
            <value>10</value>
        </property>
        <!-- 3 is default -->
        <property name="description" value="Demo DB"/>
    </bean>

    <!-- Hibernate Annotation based SessionFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.jgeppert.struts2.jquery.grid.showcase.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.jdbc.batch_size">20</prop>
                <prop key="hibernate.id.new_generator_mappings">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>